<!DOCTYPE html>
<html>
<head>
  <title>Wheel</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
